* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
    line-height: 1.5;
}

ul {
    list-style: none;
}

.title-up {
    text-align: center;
    padding-top: 16px;
    font-size: 2.4rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif; 
    border-bottom: 2px solid pink;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 18px;
}

.plan-1 {
    width: 320px;
    border: 1px solid pink;
    transition: 0.5s;
    margin-right: 20px;
}

.plan-1:hover {
    box-shadow: 0 0 30px 0px rgba(228, 32, 32, 0.1);
}

.plan-1 .title {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid pink;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.plan-1 .title-next {
    text-align: center;
    font-size: 18px;
    
    font-weight: 300;
    margin-bottom: 25px;
}

.para-1 {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.para-1 .save-off {
    background: blue;
    color: #fff;
    padding: 5px 8px;
    border-radius: 17px; 
    margin-left: 5px;
    font-family: cursive;
}

.price {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
}

.dollar {
    font-size: 20px;
    font-family: cursive;
}

.month {
    font-size: 20px;
    font-family: cursive;
}

ul {
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul li {
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 5px;
}

.btn {
    width: 80%;
    background: blue;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 20px;
    text-align: center;
    margin-left: 30px;
    display: inline-block;
    margin-bottom: 4px;
}

.btn:hover {
    background: rgb(41, 41, 219);
}

.text {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: rgb(207, 115, 131);
    margin-bottom: 20px;
}

.bottom {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
    .plan-1 {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .title-up {
        font-size: 40px;
    }
}

#plan-2 {
    padding: 20px 0;
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }
    .plan-1 {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .title-up {
        font-size: 28px;
    }
}